body{
  box-sizing: border-box;
  padding: 10px 20px 30px;
  background: #eee;
  font-family: sans-serif;
}

.wrap{
  margin: 10px 20px;
  background: #fff;
  padding: 10px 20px 30px;
}
.buttonAnimated{
    width: 100px;
    height: 30px;
    background: white;
    transition: 1s;
    outline: none;
}
.buttonAnimated.animation{
  width: 350px;
  height: 50px;
  background: red;
}
.eventButton{

}
.eventButton.unactive{
  background: #eee;
  color: #a8a8a8;
}

#error{
  color: red;
}

#bubbleParent{
  margin-top: 20px;
  padding: 20px 30px;
  border: 1px solid blue;
}
#bubbleParent:hover{
  background: blue;
}
#bubbleChild{
  padding: 20px 30px;
  border: 1px solid red;
}
#bubbleChild:hover{
  background: red;
}

.loadedImage{
  transform: rotate(390deg);
  transition: 0.5s;
}
#slider > img{
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  position: relative;

}
@keyframes example {
    0%   {left:0px; top:0px;}
    /* 75%  {left:30%; top:0px;transform: rotate(360deg);}
    100% {left:0px; top:0px; transform: rotate(0deg);} */
    50%  {left:30%; top:0px; }
    75%  {left:30%; top:0px;}
    100% {left:0px; top:0px;}
}